<div id="content">
    <div>
      <h1>Login </h1>
        <form name="form" (ngSubmit)="login(form.value)" [formGroup]="form" novalidate>
            <div >
                <label for="email">Email</label>
                <input type="email" formControlName="email" required />
            </div>
            <div >
                <label for="password">Password</label>
                <input type="password" formControlName="password" required />
    
            </div>
            <div>
                <button class="waves-effect waves-light btn-large">Login</button>
                <a [routerLink]="['/register']" >Register</a>
            </div>
        </form>
    </div>
    </div>