<div class="valign-wrapper">
  <div class="container">
    <form [formGroup]="form" (submit)="onSubmit(form.value)">
      <label for="email">E-mail</label>
      <input name="email" formControlName="email" type="email" />
      <label for="name">Name</label>
      <input name="name" formControlName="name" type="text" />
      <label for="password">Password</label>
      <input name="password" formControlName="password" type="password" />
      <button type="submit" class="waves-effect waves-light btn-large" [disabled]="form.invalid">Save</button>
    </form>
  </div>
</div>
